:root {
    /* Define color for gaps and borders */
    --wutblau: rgb(73, 106, 175);
    --gapcolor: rgb(238, 238, 238);
    --gapcolor-dark: rgba(58, 58, 58, 0.493);
    
}

body {
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    min-height: 100vh;
}


.left-menu {
    margin: 10px 40px 10px 40px;

    display: grid;
    grid-template-rows: 100px;
    grid-auto-rows: 1fr;

    align-items: center;
}

.logo {
    justify-self: center;
}

.logo > img {
    height: 100px;
}

.left-navbar {
    display: grid;
    grid-auto-rows: 50px;
}

.nav-entry {
    display: grid;
    grid-template-columns: 30px 1fr;

    /* Gap between Icon and Buttontext */
    gap: 15%;
    align-items: center;

    height: 50px;
}

/* .left-menu > div > p {
    font-size: x-large;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.icon-svgs {
    color: blue;
    fill: blue;
    height: 1.25rem;
    width: 1.25rem;
    max-width: 100%;
}

.menu-icon {
    object-fit: contain;
    height: 40px;
}

.main-menu {
    background-color: var(--gapcolor);

    border-style: none solid none solid;
    border-color: var(--gapcolor);
    border-width: 2px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 200px;
    grid-auto-rows: 1fr;
    gap: 2px;
}

.main-menu > div {
    background-color: white;
}

.home {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    justify-items: center;
}

.tweet-menu {
    margin-bottom: 10px;
}

.right-menu {
    
    margin-left: 20px;
    margin-right: 80px;

    display: grid;
    grid-template-rows: 90px;
    grid-auto-rows: 1fr;
}

.search {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-items: start;

    border-radius: 30px;
    background-color: var(--gapcolor);

    /* Same heigth relative to the "home"section and aligned in the center */
    height: 50px;
    align-self: center;

    padding-left: 20px;
}

.news-menu {
    background-color: var(--gapcolor-dark);
    border-radius: 50px; /* For hiding the background color bleed */
    
    display: grid;
    grid-template-rows: 70px;
    grid-auto-rows: 1fr;
    gap: 1px;
}

.news-card {
    background-color: var(--gapcolor);
    padding: 20px;}

.news-card:first-of-type {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.news-card:last-of-type {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}