@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Define color for gaps and borders */
    --wutblau: rgb(73, 106, 175);
    --wutblaulight: rgba(73, 105, 175, 0.575);
    --wutschwarz: rgb(57, 55, 90);
    --gapcolor: rgb(238, 238, 238);
    --gapcolor-dark: rgba(58, 58, 58, 0.493);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.boldface {
    font-size: large;
    font-weight: bold;
    color: var(--wutschwarz);
}

.superboldface {
    font-size: x-large;
    font-weight: 800;
}

.main-grid {
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    min-height: 100vh;
}

.left-menu {
    margin: 10px 40px 10px 40px;
    display: grid;
    grid-template-rows: 100px 450px 150px 1fr;

    align-items: center;

    /* Always make the entire grid the height of the viewport minus the margin so that the account details stick to the bottom regardless of the resolution */
    height: calc(100vh - 10px);
}

.logo {
    justify-self: center;
}

.logo > img {
    height: 100px;
}

.left-navbar {
    display: grid;
    grid-auto-rows: 50px;
}

.nav-entry {
    display: grid;
    grid-template-columns: 30px 1fr;

    /* Gap between Icon and Buttontext */
    gap: 15%;
    align-items: center;

    height: 50px;
}

/* Left Navigationbuttons hover effect */
.nav-entry > div:hover {
    color: var(--wutblau);
    font-size: x-large;
}

.icon-svgs {
    color: blue;
    fill: blue;
    height: 1.25rem;
    width: 1.25rem;
    max-width: 100%;
}

.button {
    border-radius: 30px;
    background-color: var(--wutblau);

    height: 60px;
    align-self: center;

    display: grid;
    align-items: center;
    justify-items: center;

    font-size: large;
    font-weight: bold;
    color: white;
}


.menu-icon {
    object-fit: contain;
    height: 40px;
}

.account-container {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    align-items: center;

    justify-self: start;
    align-self: end;

    /* Always stretch the grid container across the max width */
    width: 100%;
}

.user-profile-picture {
    width: 50px;
    padding: 5px;
    object-fit: cover;
    /* border: 1px solid var(--wutblau) ; */
    border-radius: 100%;
}

.user-details {
    justify-self: start;
}

.user-name {
    font-size: small;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.user-handle {
    font-size: small;
    color: var(--gapcolor-dark);
}

.account-container > .boldface {
    justify-self: center;
}



.main-menu {
    background-color: var(--gapcolor);

    border-style: none solid none solid;
    border-color: var(--gapcolor);
    border-width: 2px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 200px;
    grid-auto-rows: 1fr;
    gap: 2px;
}

.main-menu > div {
    background-color: white;
}

.home {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    justify-items: center;
}


.tweet-container {
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 80px 1fr .3fr;
    grid-template-rows: 50% 50%;

    align-items: center;
}

.tweet-container > .user-profile-picture {
    justify-self: center;
}

.tweet-editor-post-button {
    margin-right: 10px;
    padding: 0 10px 0 10px ;
    background-color: var(--wutblaulight);

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.tweet-editor-post-button:hover {
    background-color: var(--wutblau);
}


.tweet-editor-text {
    color: var(--gapcolor-dark);
    font-weight: 600;
    font-size: x-large;
    
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.tweet-editor-container{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: repeat(5, 30px) 1fr;
    gap: 15px;
}

.editor-icon{
    object-fit: contain;
    height: 30px;
}

/* Tweet card styling */
.card-container {
    display: grid;

    grid-template-columns: 80px 1fr 30px;
}

/* Tweet user icons */
.card-container > .user-profile-picture {
    align-self: start;
    justify-self: center;
    width: 40px
}

/* Dot Dot Dot Tweet Menu */
.card-container > .boldface {
    align-self: start;
    justify-self: center;
}

.card-content-container {
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    align-items: center;
}


.right-menu {
    
    margin-left: 20px;
    margin-right: 80px;

    display: grid;
    grid-template-rows: 90px;
    grid-auto-rows: 1fr;
}

.search {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-items: start;

    border-radius: 30px;
    background-color: var(--gapcolor);

    /* Same heigth relative to the "home"section and aligned in the center */
    height: 50px;
    align-self: center;

    padding-left: 20px;
}

.news-menu {
    background-color: var(--gapcolor-dark);
    border-radius: 50px; /* For hiding the background color bleed */
    
    display: grid;
    grid-template-rows: 70px;
    grid-auto-rows: 1fr;
    gap: 1px;
}

.news-card {
    background-color: var(--gapcolor);
    padding: 20px;}

.news-card:first-of-type {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.news-card:last-of-type {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

