body {
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    min-height: 100vh;
}


.left-menu {
    margin: 10px 40px 10px 40px;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    align-items: center;
}

.left-menu > div {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10%;
    align-items: center;
}

.left-menu > div > p {
    font-size: x-large;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-icon {
    object-fit: contain;
    width: 20px;
}

